<div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>

<div class="container">

    <button class=" erde button" (click)="navigate('erde')"></button>
    <button class=" gare button" (click)="navigate('gare')"></button>
    <button class=" mars button" (click)="navigate('mars')"></button>
    <button class=" mond button" (click)="navigate('mond')"></button>
    <button class=" nova button" (click)="navigate('nova')"></button>
    <button class=" rocha button" (click)="navigate('rocha')"></button>
    <button class=" saturn button" (click)="navigate('saturn')"></button>
    <button class=" schin button" (click)="navigate('schin')"></button>
    <button class=" sperrzoneEins button" (click)="navigate('sperrzoneEins')"></button>
    <button class=" tutkimum button" (click)="navigate('tutkimum')"></button>

</div>