<div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>


<div class="container" id="container">

    <button class=" infos button"
        (click)="changeBackgroundImage('../../../../../assets/img/NovaInfo.png')">Infos</button>

    <button class=" kurzInfo button" (click)="changeBackgroundImage('../../../../../assets/img/NovaKurzInfo.png')">Kurz
        Info</button>

    <button class=" resetBackground button" (click)="changeBackgroundImage('Earth.png')">Reset</button>



    <button class=" SpaceStation invisibleButton"
        (click)="changeBackgroundImage('../../../../../assets/img/NovaCave.png')"></button>

    <button class=" moonGreenhouses invisibleButton"
        (click)="changeBackgroundImage('../../../../../assets/img/EarthAndMoonGreenHouse.jpg')"></button>


    <button class=" moonFabricAndDevelopment invisibleButton"
        (click)="changeBackgroundImage('../../../../../assets/img/NovaEisMine.png')"></button>

    <button class=" moonCity invisibleButton"
        (click)="changeBackgroundImage('../../../../../assets/img/NovaFactory.png')"></button>

    <button class=" earthSpacePort invisibleButton"
        (click)="changeBackgroundImage('../../../../../assets/img/NovaAirport.png')"></button>

    <button class=" earthGreenhouses invisibleButton"
        (click)="changeBackgroundImage('../../../../../assets/img/EarthAndMoonGreenHouse.jpg')"></button>

    <button class=" earthGreentower invisibleButton"
        (click)="changeBackgroundImage('../../../../../assets/img/NovaAirport.png')"></button>


    <button class=" earthSlum invisibleButton"
        (click)="changeBackgroundImage('../../../../../assets/img/NovaAirport.png')"></button>




</div>