.container {
    background-image: url(../Images/Map_NewHeaven_System.png);
    height: 2480px;
    width: 3508px;
    background-size: 100% 100%;

    white-space: pre-line;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas:
        "sperrzoneDrei sperrzoneDrei . . . . . . . ."
        "sperrzoneDrei sperrzoneDrei . . . . . . satta satta"
        ". . . juengerGottes . . . . satta satta"
        ".       .   . .    .          . bumba .       .  ."
        ".       .   . rastlina    .          . .  .       .  ."
        ".       .   . .    .          . .  .       .  ."
        ".       .   . .    .          . .  .       .  ."
        "vatra vatra . . sperrzoneZwei . . tedor tedor ."
        "vatra vatra . . sperrzoneZwei . . tedor tedor ."
        ". . . . . . . . . ."
    ;
}

.bumba {
    grid-area: bumba;
}

.juengerGottes {
    grid-area: juengerGottes;
}

.rastlina {
    grid-area: rastlina;
}

.satta {
    grid-area: satta;
}

.sperrzoneZwei {
    grid-area: sperrzoneZwei;
}

.sperrzoneDrei {
    grid-area: sperrzoneDrei;
}

.tedor {
    grid-area: tedor;
}

.vatra {
    grid-area: vatra;
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 100px;
    color: aliceblue;
}






.cursor {
    width: 200px;
    height: 200px;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;

    background-image: url(../../../assets/img/cursorSpaceShip.png);
    background-size: 100% 100%;
}