<div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>
<div class="container">

    <button class="bumba button" (click)="navigate('bumba')"></button>
    <button class="juengerGottes button" (click)="navigate('juengerGottes')"></button>
    <button class="rastlina button" (click)="navigate('rastlina')"></button>
    <button class="satta button" (click)="navigate('satta')"></button>
    <button class="sperrzoneZwei button" (click)="navigate('sperrzoneZwei')"></button>
    <button class="sperrzoneDrei button" (click)="navigate('sperrzoneDrei')"></button>
    <button class="tedor button" (click)="navigate('tedor')"></button>
    <button class="vatra button" (click)="navigate('vatra')"></button>

</div>